body{
	margin: 0;
	font-family: Helvetica, Arial;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: crimson;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

h2{
	font-size: 30px;
	color: #e70c19;
}
header h1{
	color: white;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid whitesmoke;
}
/*pseudo class is a special state of the element, hovering over with mouse*/
a{
	color: #e70c19;
}
a:hover{
	color: purple;
}
footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding: 50px;
}
footer p{
	margin: 0;
}
main{
	max-width: 800px;
	/* set the margins to 0 and then auto centers */
	margin: 0 auto; 
	padding: 20px;
}
main img{
	max-width: 100%; /*same as the max width 100%* & we do this bc vertical is proportional so width is more important/
}





